// 调整前台xl断点下宽度与lg一致
.home {
  @media only screen and (min-width: 1904px) {
    .container {
      max-width: 1185px;
    }
  }
}

// 分页绝对定位
.blog-container {
  position: relative;
  padding-bottom: 50px !important;

  .pagination {
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;

    button {
      outline: none;
    }
  }
}
